.sidebar {
  @include from-medium {
    width: 27%;
  }

  h2 {
    text-transform: uppercase;
  }

  section {
    border-top: 4px solid $black;
    padding-top: 1.6em;

    & + section {
      margin-top: 1.6em;
    }
  }

  ul {
    padding-left: 1.4em;
  }
}

.pages {
  > ul {
    list-style-position: inside;
    padding: 0;
  }
}

.with-children {
  cursor: pointer;
  list-style-type: none;

  &:before {
    content: "+";
    padding-right: 9px;
  }

  > ul {
    display: none;
  }

  &.open ul {
    display: block;
  }
}
