.cookie-bar {
  position: fixed;
  display: none;
  width: 100%;
  bottom: 0;
  background: #ffffff;
  transition: bottom 1s;
  padding: 1rem 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;

  &.active {
    display: block;
  }
  &.closed {
    bottom: -100px;
  }
}
