.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  .post {
    margin-bottom: 7em;
  }
}

.post {
  header {
    a {
      color: $black;

      &:hover {
        color: $blue;
      }
    }
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.3em;
  }
  header {
    margin-bottom: 1.6em;
  }
  &-meta {
    font-size: 0.8em;
    color: $grey;
  }

  &-body {
    line-height: 1.5em;
  }
}
