$black: #24292e;
$grey: #686868;
$blue: #005ba7;

@import "base/mediaqueries";
@import "base/html";
@import "base/grid";
@import "partials/header";
@import "partials/aside";
@import "partials/posts";
@import "partials/main";

.hidden {
  display: none;
}

.button {
  margin: 0.2em 0;
  background: #f7f7f7;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: $grey;
  padding: 0.625em 0.4375em;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;

  &-primary {
    background: $black;
    color: #fff;
  }
}
