$black: #24292e;
$grey: #686868;
$blue: #005ba7;

@import "base/mediaqueries";
@import "base/html";
@import "base/grid";
@import "partials/header";
@import "partials/aside";
@import "partials/posts";
@import "partials/main";
