---
layout: default
---

<div class="content">{{ content }}</div>
<aside class="sidebar">
  <section class="address">
    <h2>Club Sub Nettuno</h2>
    <address>
      Associazione Sportiva Dilettantistica<br />
      c/o piscina Stadio "Carmen Longo"<br />
      accesso da via dello Sport 9<br />
      Bologna<br />

      tel. <a href="tel://051 6153552">051 6153552</a><br />
      C.F. 01596311207<br />
      P.IVA 2665601205
    </address>
  </section>
  <section class="pages">
    <h2>Pagine</h2>
    <ul>
      {% for page in site.pages %} {% if page.title %} {% unless page.hidden or
      page.autogen %}
      <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endunless %} {% endif %} {% endfor %}
    </ul>
  </section>
</aside>
